GAMEZONE_DB_HOST=127.0.0.1
GAMEZONE_DB_PORT=3306
GAMEZONE_DB_NAME=gamezone
GAMEZONE_DB_USER=root
GAMEZONE_DB_PASSWORD=root
GAMEZONE_DB_SSL_MODE=DISABLED
# Optional full JDBC URL override:
# GAMEZONE_DB_URL=jdbc:mysql://127.0.0.1:3306/gamezone?sslMode=DISABLED&allowPublicKeyRetrieval=true&serverTimezone=UTC
